.slide-win {
  height: 100vh !important;
  background: #adb5bd !important;

  animation: slide 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: slide 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -6000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 200px, 0);
    opacity: 0;
  }
  60% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -500px, 0);
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -1000px, 0);
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -6000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 200px, 0);
    opacity: 0;
  }
  60% {
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -500px, 0);
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -1000px, 0);
  }
  100% {
    opacity: 0.8;
    z-index: 1;
  }
}

.shadow-win {
  font-size: 20vh !important;

  animation: shadow 2.5s cubic-bezier(0.25, -3.54, 0.45, 3.94) 2s infinite
    alternate both;
  -webkit-animation: shadow 2.5s cubic-bezier(0.25, -3.54, 0.45, 3.94) 2s
    infinite alternate both;
}

.name-two {
  color: gold;
  font-size: 12vh !important;
  text-shadow: 0 -1px 0 rgb(102, 74, 3), 0 -2px 0 rgb(102, 74, 3),
    0 -3px 0 rgb(102, 74, 3), 0 -4px 0 rgb(102, 74, 3), 0 -5px 0 rgb(102, 74, 3),
    0 -6px 0 rgb(102, 74, 3), 0 -7px 0 rgb(102, 74, 3), 0 -8px 0 rgb(102, 74, 3),
    0 -9px 0 rgb(102, 74, 3), 0 -10px 0 rgb(102, 74, 3),
    0 -24px 12px rgba(3, 3, 3, 0.3);
}
