* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

body {
  font-family: "Cairo", sans-serif;
}
.container-header {
  color: #3498db;
  font-size: 3rem !important;
  text-shadow: 0 -1px 0 #2980b9, 0 -2px 0 #2980b9, 0 -3px 0 #2980b9,
    0 -4px 0#2980b9, 0 -5px 0 #2980b9, 0 -6px 0 #2980b9,
    0px -11px 7px rgba(3, 3, 3, 0.3);
}

#container-img {
  position: relative;
}

img.head {
  width: 20%;
  left: 81%;
  top: 18%;
}
img.body {
  width: 13%;
  height: auto;
  top: 36%;
  left: 84.5%;
}
img.eyes {
  width: 13%;
  left: 84.5%;
  top: 24%;
}
img.nose {
  width: 2%;
  left: 90%;
  top: 27%;
}
img.mouth {
  width: 11%;
  left: 85.5%;
  top: 32%;
}
img.hair {
  width: 20%;
  left: 81%;
  top: 18%;
}
img.arm-left {
  width: 32%;
  left: 54%;
  top: 33%;
  animation: greet-left 1s linear infinite alternate both;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
}
@keyframes greet-left {
  100% {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
  }
}
@-webkit-keyframes greet-left {
  100% {
    transform: rotate(40deg);
    transform-origin: 100% 50%;
    -webkit-transform: rotate(40deg);
    -webkit-transform-origin: 100% 50%;
  }
}
span.careful {
  left: 27%;
  top: 24px;
  font-weight: 900;
  width: 50%;
}
img.arm-right {
  width: 32%;
  top: 33%;
  left: 96%;
  transform: rotate(-46deg);
  transform-origin: 0% 50%;
}

img.leg-left {
  width: 20%;
  top: 62%;
  left: 69%;
}

img.leg-rigth {
  width: 20%;
  left: 92.5%;
  top: 62%;
}
