* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

#container-img {
  position: relative;
}

img.head {
  width: 22%;
  left: 84%;
  top: 21%;
}
img.body {
  width: 13%;
  height: auto;
  top: 40%;
  left: 88.5%;
}
img.eyes {
  width: 13%;
  left: 88.5%;
  top: 27%;
}
img.nose {
  width: 2%;
  left: 94%;
  top: 30%;
}
img.mouth {
  width: 14%;
  left: 88%;
  top: 34%;
}
img.hair {
  width: 22%;
  left: 84%;
  top: 21%;
}
img.arm-left {
  width: 32%;
  left: 58%;
  top: 38%;
  animation: greet-left 1s linear infinite alternate both;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
}
@keyframes greet-left {
  100% {
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
  }
}
@-webkit-keyframes greet-left {
  100% {
    transform: rotate(40deg);
    transform-origin: 100% 50%;
    -webkit-transform: rotate(40deg);
    -webkit-transform-origin: 100% 50%;
  }
}
img.arm-right {
  width: 32%;
  left: 100%;
  top: 38%;
  transform: rotate(-46deg);
  transform-origin: 0% 50%;
}

img.leg-left {
  width: 20%;
  top: 65%;
  left: 74%;
}

img.leg-rigth {
  width: 20%;
  left: 96.5%;
  top: 65%;
}

span {
  font-size: 1.2rem;
  font-weight: bold;
}
span.p-3 {
  font-size: 11vh;
}

.careful {
  font-size: 1rem;
  width: 65%;
  left: 17.5%;
  text-align: center;
  top: 15%;
  border: 1px rgba(3, 3, 3, 0.5) solid;
  padding: 1%;
  border-radius: 5px;
  animation: careful 1s infinite linear;
  -webkit-animation: careful 1.5s infinite linear;
}
@keyframes careful {
  100% {
    text-shadow: 0 11px 14px #949292;
    -webkit-transform: translateZ(15px);
    transform: translateZ(15px);
  }
}
@-webkit-keyframes careful {
  100% {
    text-shadow: 0 11px 14px #949292;
    -webkit-transform: translateZ(15px);
    transform: translateZ(15px);
  }
}
