.nav-join {
  height: auto;
  line-height: 50px;
  background-color: #2980b9;
}
.nav-join span {
  font-size: 1rem;
  cursor: pointer;
  color: #ecf0f1;
  line-height: 17px;
  font-weight: 900;
  letter-spacing: 2px;
}
.join-container {
  height: auto;
  transition: all 1s linear;
  overflow: hidden;
}

.join-container-item {
  width: 300%;
  height: 100%;
  flex-direction: row;
  transition: all 0.75s linear;
}
.slide-join {
  width: 100%;
  display: grid;
  align-content: space-between;
  justify-content: center;
}

.slide-join h1 {
  color: #2980b9;
}
.slide-join p {
  font-weight: 600;
}
.slide-join i {
  font-size: 1.5rem !important;
}
.active {
  transform: translateX(-33.333%);
}
.active1 {
  transform: translateX(-66.666%);
}

.nav-active {
  border-bottom: 4px solid #c0392b;
}
