.container-join {
  padding: 0 !important;
  margin: 0% !important;
  background-image: radial-gradient(rgba(1, 154, 255, 0.74), rgb(4, 4, 196));
  position: relative !important;
}

.container-fluid .row {
  position: relative !important;
  top: 25% !important;
}

.container-fluid i {
  font-size: 2.2rem;
  margin-left: 3%;
}

.card {
  opacity: 0.5;
  -moz-transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -o-transform: scale(0.85);
  transform: scale(0.85);
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 0.7s linear;
}

.card:hover {
  opacity: 1;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
